/* RESET */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* INDEX.HTML */

.left {
  float: left;
  margin-bottom: 5px;
}

.slogan {
  margin: -21px 4px;
  position: absolute;
  color: #fff;
}

.price {
  color: rgba(0, 0, 255, 0.7);
  font-size: large;
  font-weight: 700;
}

footer {
  background-color: rgba(0, 0, 0, 0.9);
  margin-top: 100px;
  padding: 20px;
}

footer ul {
  list-style: none;
  padding: 50px 0 0 50px;
}

footer ul a {
  display: inline-block;
  letter-spacing: 1px;
}

.sub-footer,
a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  text-align: center;
}

a:hover {
  color: #b91b00;
  text-decoration: none;
  transition: 500ms;
}

.dropdown-menu, .dropdown-item {
  color: #b91b00;
}

/* USER.HTML */

.form {
  padding: 40px 80px;
  border: 1px solid rgb(138, 129, 129);
  margin: 25px 0;
  border-radius: 10px;
}

.check-term {
  color: rgba(0, 0, 0, 0.656);
}

.user {
  letter-spacing: 1px;
}